<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render partial: "employees/shared/error_messages", locals: {resource: resource } %>
 <% if current_employee.hr_manager%>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
   <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>
   <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username%>
  </div>
  <% else %>
   <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,:disabled => true, autocomplete: "email" %>
  </div>
   <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name,  :disabled => true %>
  </div>
     <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, :disabled => true%>
  </div>
 <% end%>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


   <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<button type="button" class="btn btn-primary"><%= link_to "Back", :back , class:"btn" %></button>
